* {
    margin: 0;
    padding: 0;
    font-family: ;
    --color-purple-light: #c252f2;
    --color-purple-dark1: #1a0859;
    --color-purple-dark2:#0c0a40;
    --color-purple-medium-light:#2a26a6;
    --color-purple-dark3:#080926;
}
p {

}